POSTGRES_USER=serpenttimes
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=serpenttimes

# Drizzle
DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"

ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
# openssl rand -base64 32
BETTER_AUTH_SECRET=""
